input {
  all: unset;
}

select {
  all: unset;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-status {
  color: #000;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: sans-serif;

  padding: 0 12.5%;
}

.dashboard {
  height: 100%;
  width: 100%;
  padding: 16px;
}

.dashboard[data-mobile="true"] {
  height: auto;
  padding: 8px;
  padding-bottom: calc(env(safe-area-inset-bottom) + 8px);
}

.widget-grid {
  display: grid;
  /* height: calc(100% - 32px);
  width: calc(100% - 32px); */
  height: 100%;
  width: 100%;
  row-gap: 6px;
  column-gap: 6px;
}

.widget-grid__widget {
  position: relative;
  border: 2px solid black;
  padding: 4px;
  width: 100%;
  height: 100%;
  color: black;
  overflow-x: hidden;
  overflow-y: scroll;

  /* Firefox */
  scrollbar-width: none;
  /* Internet Explorer and Edge */
  -ms-overflow-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.widget-grid__widget__grid {
  width: 100%;
  height: 100%;
  display: grid;
  row-gap: 4px;
  column-gap: 4px;
}

.widget-grid__widget[data-unsaved="true"] {
  border: 2px dashed black;
  /* padding: 10%; */
}

.widget-grid__widget .close-button {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 10;
  background-color: inherit;
  border: 1.5px solid black;
}

.widget-grid__filler {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  width: 100%;
  height: 100%;
}

.widget-grid__filler[data-mobile="true"] {
  aspect-ratio: 1 / 1;
}

.widget-grid__filler[data-active="true"] {
  border: 2px solid #ddd
}

.widget-grid__filler[data-selected="true"] {
  border: 2px dashed black;
  /* background-color: #ddd; */
}

.input-container {
  position: relative;
  border: 2px solid black;
  font-family: 'Bebas Neue', sans-serif;
  box-shadow: 3px 3px 0 black;

  max-width: 80%;
  max-height: 80%;
  width: 80%;
  height: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-container[data-expanded="true"] {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;

  box-shadow: none;

  border: none;
}

.input-container[data-expanded="true"] .input-container__bar {
  width: calc(100% - 4px);
  border: 2px solid black;
}

.input-container__bar[data-active="true"] {
  box-shadow: 2px 2px 0 black;
}

.input-container__bar {
  position: relative;
  width: 100%;
  min-height: 32px;
  max-height: 32px;
  border-bottom: 2px solid black;


  z-index: 0;

  display: flex;
  justify-content: left;
  align-items: center;
}

.input-container__search {
  height: auto;
  width: calc(100% - 4px);
  border: 2px solid black;
  margin-top: 6px;
  padding: 12px;
  box-shadow: 2px 2px 0 black;
}

.input-container__search .input:not(:last-child) {
  margin-bottom: 12px;
}

.input-container__search-button {
  border: none;
  border-left: 2px solid black;
  margin-left: auto;
}

.input-container__back-button {
  border: none;
  border-right: 2px solid black;
}

.icon-button {
  width: auto;
  height: 100%;
  aspect-ratio: 1 / 1;

  padding: 0.4em;
  /* border-left: none;
  border-top: none;
  border-bottom: none; */

  color: #000;
}

.icon-button .icon-container,
.icon-button .icon-container svg {
  width: 100%;
  height: 100%;
}

.input-container__title {
  margin-left: 12px;
}

.input-container__container {
  height: 100%;
  width: 100%;
  padding: 8px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  overflow-y: scroll;
  overflow-x: hidden;

  /* Firefox */
  scrollbar-width: none;
  /* Internet Explorer and Edge */
  -ms-overflow-style: none;
}

.input-container__container-items {
  margin-top: auto;
  margin-bottom: auto;

  text-align: center;
}

.option-selector__option {
  color: black;
  white-space: nowrap;
  max-width: 100%;
}

.option-selector__option:hover {
  text-decoration: underline;
}

.scroll-animate {
  animation: scroll-reset 10s infinite;
}

@keyframes scroll-reset {
  0% {
    transform: translateX(0%);
  }

  80% {
    transform: translateX(-100%);
  }

  95% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(0%);
  }
}

.widget-component {
  height: 100%;
  overflow: hidden;
}

.chart {
  height: 100%;
  width: 100%;

  padding: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-container {}

.chart__barchart__bar {
  stroke: black;
  color: black;
  stroke-width: 2px;
  transition-property: y, height, fill;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.chart__x-axis {
  text-anchor: end;
  stroke-width: 2px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1em;
}

.chart__x-axis__label {
  font-size: 0.9em;
  fill: #000;
}

.chart__y-axis__label {
  font-size: 0.9em;
  fill: #000;
}

.chart__x-axis .tick line {
  stroke: none;
}

.chart__y-axis {
  stroke-width: 2px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1em;
}

.chart__grid-lines line {
  stroke: #0000008f;
  stroke-dasharray: 1, 2;
}

.widget__loading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 12.5%;
}

.loading-bar {
  width: 100%;
  height: 30px;
  background-color: black;
  overflow: hidden;
  border: 2px solid black;
}

.loading-bar__fill {
  height: 100%;
  width: 33%;
  background-color: white;
  animation: loading 2s infinite;
  /* transition: width 0.5s ease-in-out; */
}

.loading-bar__message {
  font-family: 'Bebas Neue', sans-serif;
  margin-top: 8px;
}


@keyframes loading {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(300%);
  }
}

.input_component {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-form {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 12px;
}

.input-form__form {
  display: flex;
  flex-direction: column;
  width: 100%;

  /* border: 2px solid black; */
  padding: 12px 0;
}

.input-form__form .input:not(:last-child) {
  margin-bottom: 12px;
}

.input {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.input label {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 0.9em;
  text-align: start;

  padding-left: 2px;
}

.input .input-text {
  border: 2px dotted black;
  border-radius: 0;
  padding: 4px 8px;
  background-color: #fff;

  height: 24px;

  font-family: 'Bebas Neue', sans-serif;
  font-size: 1em;
  text-align: start;
}

.input .input-select {
  border: 2px dotted black;
  border-radius: 0;
  height: 36px;
}

.input .input-select input {
  border: none !important;
  width: 100%;
  height: 24px;

  padding: 4px 8px;
  font-family: 'Bebas Neue', sans-serif;
  text-align: start;
}

.input input:focus,
.input[data-hasvalue="true"] .input-text,
.input .input-select:focus,
.input[data-hasvalue="true"] .input-select {
  border-style: solid;
}

.input[data-hasvalue="false"] .input-text,
.input[data-hasvalue="false"] .input-select {
  border-style: dotted;
}

.input-select {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.input-select input {
  width: 100%;
  border-right: none;
}

.input-select__option {
  font-family: 'Bebas Neue', sans-serif;
  padding-left: 8px;
  padding-top: 8px;
}

.input-select__option:last-child {
  padding-bottom: 8px;
}

.popup {
  position: absolute;
  top: 100%;
  bottom: auto;
  width: 100%;
  border: 2px solid black;
  color: black;
  border-top: none;
  background-color: #fff;
}

.input input::-webkit-outer-spin-button,
.input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input input[type=number] {
  /* Firefox */
  -moz-appearance: textfield;
}

button {
  border: 2px solid black;
  color: black;
  border-radius: 0;

  font-family: 'Bebas Neue', sans-serif;
  font-size: 1em;

  background-color: inherit;
}

.input-select .action-button {
  margin: 0;
  border: none;
  height: 100%;
  aspect-ratio: 1 / 1;
  color: #000;
}

.input-form__form .input-form__form-submit-button {
  margin-top: 10px;
  padding: 8px;
  box-shadow: 2px 2px 0 black;
}

.browser-item {
  /* max-height: 50px;
  height: 50px; */
  border: 2px solid black;

  padding: 0 4px;
  margin-bottom: 8px;

  display: flex;
  flex-direction: column;
}

.browser-item__title-bar {
  display: flex;
  height: 22px;
}

.browser-item__title-bar h2 {
  font-size: 14px;
  margin: 0;
  margin-right: auto;
}

.browser-item__title-bar__tag {
  font-size: 12px;
}

.browser-item__secondary-item-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  font-size: 12px;
}

.browser-item__secondary-item-container__title {
  display: flex;
  flex-direction: column;
  text-align: left;

  padding-right: 4px;
}

.browser-item__secondary-item-container__value {
  display: flex;
  flex-direction: column;
  text-align: left;
}