.dashboard {
  height: 100%;
  width: 100%;
  padding: 16px;
}

.widget-grid {
  display: grid;
  height: calc(100% - 32px);
  width: calc(100% - 32px);
  row-gap: 8px;
  column-gap: 8px;
}

.widget-grid__widget {
  border: 2px solid black;
  width: 100%;
  height: 100%;
}

.widget-grid__filler {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  width: 100%;
  height: 100%;
}